# Ignore these directories at any level
Manuscripts/
Notes/
.obsidian/
Output/

# leave one example of data
/Data/*
!/Data/Ferdinandy_Dog/
!/Data/Ferdinandy_Dog/**


# Ignore R history files
*.Rhistory

# Ignore various other file types
*.txt
*.rda
*.pdf
*.png
*.docx
*.pptx
*.svg
*.names
*.joblib
*.pyc
