# Ignore these directories
Manuscripts/
Notes/
.obsidian/
CaseStudy/

# leave one example of data
/Data/*
!/Data/Ferdinandy_Dog/
!/Data/Ferdinandy_Dog/**

# put in the output sheets
/Output/*
!/Output/All_sequence_stats.csv
!/Output/collated_performance.csv
!/Output/WithinSpeciesStats.csv

# Ignore R history files
*.Rhistory

# Ignore various other file types
*.txt
*.rda
*.pdf
*.png
*.docx
*.pptx
*.svg
*.names
*.joblib
*.pyc
