# Ignore these directories at any level
*/Data/
*/Manuscript/

# Ignore R history files
*.Rhistory

# Ignore various other file types
*.csv
*.txt
*.rds
*.rda
*.pdf
*.png
*.docx
*.pptx
*.svg
*.names
*.joblib
*.pyc
